@charset "utf-8";

html, body{
	font:400 11.6pt serif;
	background-color: hack 3s infinite;
	color: #cc00ff;
	margin:0;
	padding:0;
	height:100%;
	min-height:100%;
	position:relative
}
.hack{font-size: 1.5rem;display: inline-block;margin-top: 1rem;text-shadow: 2px 2px 4px #000000;-webkit-animation: hack 3s infinite; }@-webkit-keyframes hack{0%{color: orange;}10%{color: purple;}20%{color: red;}30%{color: CadetBlue;}40%{color: yellow;}50%{color: coral;}60%{color: green;}70%{color: cyan;}80%{color: DeepPink;}90%{color: DodgerBlue;}100%{color: orange;}}
a{color: #cc00ff}

h1{
	font-size:110%;
	display:inline
}

h2{font-size:115%}

h3{font-size:800%}

img{
	margin-left:4%;
	box-shadow:3px 3px 8px 4px lightgrey
}

.main{
	min-height:100%;
	position:relative
}

.head{
	font:400 1.2em sans;
	background-color:#cccccc;
	padding:10pt 16%;
	box-shadow:3px 3px 8px 4px lightgrey
}

.head a{
	color:#000055;
	text-decoration:none
}

.head a:hover{background-color: #cccccc}

.body{padding: 20pt 14% 60pt 14%}

.foot{
	font-size: 0.7em;
	position:absolute;
	text-align:center;
	bottom:0;
	width:100%;
	padding-top:9pt;
	padding-bottom:9pt
}
